[Desktop Entry]
Version=1.0
Type=Application
Name=Tuxpaper Engine
Comment=Animated wallpaper manager for Linux
Exec=$HOME/.local/share/Tuxpaper/run.sh
Icon=$HOME/.local/share/Tuxpaper/icons/tuxpaper.svg
Terminal=false
Categories=Utility;Settings;DesktopSettings;
Keywords=wallpaper;background;video;animated;
StartupNotify=true
Path=$HOME/.local/share/Tuxpaper
