[Desktop Entry]
Version=1.3
Type=Application
Name=Tuxpaper Engine
GenericName=Animated Wallpaper Manager
Comment=Manage and apply animated wallpapers
Exec=/home/xazel/.local/share/Tuxpaper/run.sh
Icon=/home/xazel/.local/share/Tuxpaper/icons/tuxpaper.svg
Terminal=false
Categories=Utility;Settings;DesktopSettings;GTK;
Keywords=wallpaper;background;video;animated;mpvpaper;
StartupNotify=true
Path=/home/xazel/.local/share/Tuxpaper
